<div class="flightcontainer">
  <p class="flightcontainer__price">Rs {{price}}</p>
  <div class="flightcontainer__flight">
    <div class="flightcontainer__flight__flightdetails">
      <p>{{oneWayCode}}</p>
      <p class="flightcontainer__flight__flightdetails__fromto">{{from}} > {{to}}</p>
      <p>Depart: {{depart}}</p>
      <p>Arrive: {{arrive}}</p>
    </div>
    <div class="flightcontainer__flight__flightdetails">
      <p>{{returnCode}}</p>
      <p class="flightcontainer__flight__flightdetails__fromto">{{returnFrom}} > {{returnTo}}</p>
      <p>Depart: {{returnDepart}}</p>
      <p>Arrive: {{returnArrive}}</p>
    </div>
    <div class="flightcontainer__flight__flightdetails--book">
      <button  class="flightcontainer__flight__flightdetails--button">BOOK THIS FLIGHT</button>
    </div>
  </div>
</div>
