<div class="container">
  <div class="type">
    <button class="type__one">One way</button>
    <button class="type__return">Return</button>
  </div>
  <div class="options">
    <input type="text" placeholder="Enter Origin" class="options__origin">
    <input type="text" placeholder="Enter Destination" class="options__destination">
    <input type="text"  placeholder="Departure Date" onmouseenter="(this.type='date')" onmouseleave="(this.type='text')" class="options__depdate"/>
    <select name="" id="" class="options__passengers" required>
      <option value="" disabled selected hidden>Passengers</option>
      <option value="1">1</option>
    </select>
  </div>
  <div class="search">
    <button class="search__button">SEARCH</button>
  </div>
</div>
