<div class="container">
  <div class="type">
    <button class="type__one">One way</button>
    <button class="type__return">Return</button>
  </div>
  <div class="options">
    <form (ngSubmit)="onSearch(f)" #f="ngForm" ngNativeValidate id="ngForm">
    <input type="text" placeholder="Enter Origin ('Pune')" class="options__origin" ngModel name="origin">
    <input type="text" placeholder="Enter Destination ('Bangalore')" class="options__destination" ngModel name="destination">
    <input type="text"  placeholder="Date ('Select any date of Monday')" onmouseenter="(this.type='date')" onmouseleave="(this.type='text')" class="options__depdate" ngModel name="date"/>
    <select name="" id="" class="options__passengers" required ngModel name="passengers">
      <option value="" disabled selected hidden>Passengers</option>
      <option value="1">1</option>
    </select>
    </form>
  </div>
  <div class="search">
    <button class="search__button" type="submit" form="ngForm" >SEARCH</button>
  </div>
</div>
